$radius: 0.25rem;
$border: 0.1rem;

.tabset {
	margin: 2rem 0;
	&[aria-label]:before {
		content: attr(aria-label);
		bottom: 100%;
		font-size: 0.5em;
		color: red;
	}
}
.tabs {
	display: flex;
	list-style: none;
	flex-wrap: wrap;
	> li {
		display: flex;
	}
	margin: 0;
	padding: 0;
}
.tab {
	font-size: 1em;
	padding: 0.5em;
	margin: 0 $radius 0 0;
	border: $border solid black;
	background: black;
	color: white;
	border-radius: $radius $radius 0 0;
	cursor: pointer;
}
.itemActive {
	.tab {
		background: white;
		color: black;
		border-bottom: none;
	}
}
.panel {
	border: $border solid black;
	padding: 1em;
	border-radius: 0 $radius $radius $radius;
	margin: (0 - $border) 0 0 0;
}
